{% extends 'base.html' %}
{% load blog_tags %}
{% block title %} صفحه اصلی {% endblock %}
{% block content %}

    {% if query %}

    <h1>نتیجه ی جست و جو"{{ query }}"</h1>
    <h3>
        {% with result.count as total_result %}
            نتیجه جست جو :{{ total_result }}
        {% endwith %}
    </h3>
    <div class="latest_post">
        {% for post in results %}
             <div class="item_latest_post">
            <h4><a href="{{post.get_absolute_url}}">{{ post.title }}</h4>
                <img src="{{ MEDIA_URL }}{{ post.image }}" alt="مقاله">
                {{ post.body|markdown|truncatewords_html:5}}
            </a>
          </div>
        {% empty %}
                <h2>جستجو مورد نظر یافت نشد</h2>
        {% endfor %}

    {% else %}
    

    <div class="all_post">


            {% for post in posts %}
                <div class="post">
                    <a href="{{ post.get_absolute_url }}">
                    <img src="{{ MEDIA_URL }}{{ post.image }}" alt="مقاله">
                    <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                    <p>{{ post.body| markdown |truncatewords:10 }}</p>
                    <p> نویسنده:{{ post.author }}</p>
                    <p> منتشر شد:{{ post.create }}</p>
                    </a>
                    <p class="tags">
                        Tags:
                        {% for tag in post.tags.all %}
                        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                        {{tag.name}}
                        </a>
                    {% if not forloop.last %}, {%endif%}
                    {% endfor %}
            </p>
                </div>
            {% endfor %}


            </div>

    </div>

    </div>
    <div class="paginator">
     {% include 'pagination.html' with page=posts %}
    </div>
   {% endif %}
{% endblock %}