{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
    <div class="post-detail">
                {% if post.image %}
                    <img  src="{{ MEDIA_URL }}{{ post.image }}" class="img_detail" alt="مقاله">
                    {% else %}
                           <video controls>
                                 <source src='{{ MEDIA_URL }}{{ post.videofile }}' type='video/mp4'>
                           </video>
                    {% endif %}
<h1> {{post.title}} </h1>

    <p class="body-post">
        {{post.body|linebreaks}}
    </p>
        <p class="date">
        published {{post.publish}} by {{post.author}}
    </p>

</div>

{% endblock %}
