{% extends 'base.html' %}
{% block title %} blog_page {% endblock %}
{% block content %}


    <div class="row">
        <div class="col-lg-6 col-md-3 col-sm-4 col-xs-12">
            {% for post in object_list %}
                <div class="post">
                    <img src="{{ post.image.url}}" alt="مقاله">
                    <a href="#">{{ post.title }}</a>
                    <p>{{ post.body|truncatewords:10|linebreaks }}</p>
                    <p>{{ post.author }}</p>
                    <p>{{ post.create }}</p>
                </div>
            {% endfor %}
            </div>
    </div>

{% endblock %}