{% extends 'base.html' %}
{% block title %} blog_page {% endblock %}
{% block content %}
    <div class="all_post">
            {% for post in object_list %}
                <div class="post">
                    <img src="{{ MEDIA_URL }}{{ post.image }}" alt="مقاله">
                    <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                    <p>{{ post.body|truncatewords:10|linebreaks }}</p>
                    <p>{{ post.author }}</p>
                    <p>{{ post.create }}</p>
                </div>
            {% endfor %}
            </div>
    </div>
    </div>

{% endblock %}