{% extends "base.html" %}
{% block title %} اشتراک گذاری {% endblock %}
{% block content %}
    <h1> ممنون </h1>
    {% if sent %}
        <h1>اشتراک گذاری با موفقیت انجام شد</h1>
        <p>
            "{{post.title}}" با موفقیت ارسال شد به {{form.cleaned_data.to}}.
        </p>
    {% else %}
        <h2>اشتراک پست "{{post.title}}" با ایمیل</h2>
        <p> </p>
        <form class="form-email" method="post">
            {{form}}
            {% csrf_token %}
            <input type="submit" value="Send-Email">
        </form>
    {% endif %}
{% endblock %}