{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>{% block title %}{% endblock %}</title>

{#    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
	<link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" />
{#    <link type="text/css" href="{% static 'css/blog.css' %}" rel="stylesheet" />#}
    <!-- jQuery and JS bundle w/ Popper.js -->
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-40ix5a3dj6/qaC7tfz0Yr+p9fqWLzzAXiwxVLt9dw7UjQzGYw6rWRhFAnRapuQyK" crossorigin="anonymous"></script>#}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

<body class="profile-page" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top navbar-dark bg-dark ">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">افشین شیری</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                      <li><a href="{% url 'blog:post_list' %}">خانه <span class="sr-only">(current)</span></a></li>
                      <li><a href="{% url 'about' %}">درباره ما <span class="sr-only">(current)</span></a></li>
                      <li><a href="#">جدیدترین آموزش ها</a>
                            <ul>
                                {% latest_post %}
			                </ul>
                      </li>
                    <!-- <li class="dropdown"> -->
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">پشتیبانی<span class="caret"></span></a> -->
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="جستجو">
                    </div>
                    <button type="submit" class="button">
                        <!-- <i class="glyphicon glyphicon-search"></i> -->
                        بیاب
                    </button>
                </form>
                <!-- -------------------------------------------------------------- -->


                <!-- ------------------------------------------------------------------- -->
                {% if user.is_authenticated %}
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                      {%csrf_token%}
                      <button id="exit" type="submit">خروج</button>
                    </form>
                    {% else %}
                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                  {%csrf_token%}
                <ul class="nav navbar-nav navbar-right">
                    <button id="sabt" type="submit">ورود و ثبت نام</button>
                  </form>
                      {% endif %}
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">دسته بندی<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav><!-- end menu -->
<!-- The HEADER -->
	<header id="header">
		<!-- Profile Picture -->
{#		<img src="/media/PlanClan.png">#}

	</header>

<!-- sidebar -->
	<main>

		<div class="container-fluid">
			<div class="row">

{#            				<div class="col-md-3 col-sm-4 col-xs-12">#}
{##}
{#					<ul class="nav nav-pills nav-pills-success nav-stacked">#}
{#                        <h2>صفحات سایت</h2>#}
{#						<li><a data-toggle="pill" href="#about">بیوگرافی</a></li>#}
{#						<li><a href="#">گالری تصاویر</a></li>#}
{#						<li><a href="#">دست نویس</a>#}
{#                            <ul>#}
{#				                <li><a href="#">وردپرس</a></li>#}
{#				                <li><a href="#">جوملا</a></li>#}
{#                                <li><a href="#">متفرقه</a></li>#}
{#			                </ul>#}
{#                        </li>#}
{#                        {% latest_post %}#}
{#		            </ul>#}
{#                </div>#}



             {% block content %}

                {% endblock %}

        </div>
    </div>
{#        </div>#}
{#        </div>#}

<!-- page footer -->
	<footer class="footer">
		<div class="container">
			<nav class="pull-left">
				<div id="share-buttons">
					<a href="#" target="_blank">
						<i class="fa fa-facebook-square"></i>
					</a>
					<a href="#" target="_blank">
						<i class="fa fa-twitter-square"></i>
					</a>
					<a href="https://www.instagram.com/p/CPsi0kPgqIV/?utm_source=ig_web_copy_link" target="_blank">
						<i class="fa fa-instagram"></i>
					</a>
					<a href="#" target="_blank">
						<i class="fa fa-telegram"></i>
					</a>
				</div>
			</nav>
			<div class="copyright pull-right">
				translated By َAfshin Shiri ❣</a>.
			</div>
		</div>
	</footer>
    </body>

</div>
